#flex-global{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: red;
}

#flex-menu{
    display: flex;
    justify-content: center;
    background-color: green;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
#flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: yellow;
}

#tema {
    display: flex;
    justify-content: center;
}
#adams{
    justify-content: center;
    margin-left: 560px;
}

p{
    margin-bottom: 8px;
}

